@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*Variables*/
:root {
  --font-family: "Montserrat", sans-serif;
  --font-family-2: "Merriweather", serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  /*081629,"35596D","D8DBE4","B4655E","586B3B c4ed87*/ 
  --bg-color: rgb(14, 35, 63);
  --bg-color-2: #D8DBE4;
  --primary-color: #c4ed87;
  --secondary-color: #ff5035;
  --primary-shadow: #B4655E;
  --secondary-shadow: #586B3B;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html{
  scroll-behavior: smooth;
}

/*Resetting CSS Styles>*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #c4ed87;
}

p{
  font-family: var(--font-family-2);
  font-weight: 100;
  font-size: 16px;
  color: #244354;
}

h2{
  font-size: 42px;
}

h3{
  font-size: 18px;
  color: #244354;
  text-shadow: 2px 8px 5px #1c273447;
  flex-basis: 100%;
  text-align: center;
  font-weight: 200;
  padding: 0 0 2.5rem 0;
}

body{
  font-family: var(--font-family);
}

nav{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px whitesmoke; /*EDIT?*/
}

nav h1{
  color: #c4ed87;
}

nav a{
  color: #c4ed87;
  transition: var(--transition);
}
nav a:hover{
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul{
  display: flex;
  gap: 1.9rem;
}

nav ul li{
  font-weight: var(--bold-font);
}

.burger-menu{
  color: #c4ed87;
  font-size: 2rem;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.hero{
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin: auto;
  padding: 20rem;
  background-color: var(--bg-color);
  border-bottom: 5px solid var(--bg-color);
}

.hero h1{
  flex-basis: 100%;
  font-size: 64px;
  max-width: 85%;
  color: whitesmoke;
  border-bottom: 4px solid whitesmoke;
  text-shadow: 0 2px 5px var(--bg-color);
  animation-delay: 250ms;
  text-align: center;
}

.about-me{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 7.5rem 0;
  column-gap: 5rem;
  background-color: #D8DBE4;
}

.about-me h2{
  flex-basis: 100%;
  text-align: center;
  margin-bottom: var(--bottom-margin);
}
/* .about-me img{
  vertical-align: middle;
  animation-delay: 500ms;
} */

.img-circle{
  flex-shrink: 10;
  flex-basis: 0;
  vertical-align: middle;
  animation-delay: 500ms;
  /* border: 10px solid var(--secondary-color); */
  border-radius: 50%;
  border: 4px solid #c4ed87;
  box-shadow: 0 15px 20px 1px var(--primary-color);
}

.bio{
  max-width: 40rem;
  vertical-align: bottom;
  animation-delay: 750ms;
  border-radius: 6px;
  padding: 1rem;
  /* background-color: white;
  box-shadow: 0 15px 15px -2.5px var(--bg-color); */
}

.bio p{
  line-height: var(--line-height);
  padding: 0 1rem 1rem;
  text-align: left;
  width: 50rem;
}

.skills{
  text-align: center;
  padding: 5rem 0 7.5rem 0;
  background-color: whitesmoke;
}

.skills img{
  display: inline-block;
}

.skills-text{
  display: block;
  max-width: 100%;
}

.skill-header{
  margin-bottom: 1rem;
}

.skills-wrapper {
  display: grid;
  grid-template-areas: 
  "row1-col1 row1-col2 row1-col3"
  "row2-col1 row2-col2 row2-col3";
  justify-content:center;
  padding: 1.25rem;
  gap: 5rem;
}

.icon{
  width: 20rem;
  height: 12rem;
}

.icon-card{
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to top, var(--bg-color) 40%, #c4ed87);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 33px;
}

.projects{
  background-color: var(--bg-color);
  padding: 32px 0;
}

.project-pic{
  width: 75%;
  height: 80%;
}

.projects-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title{
  text-align: center;
  margin-bottom: 1rem;
}

.project-container{
  text-align: center;
  width: 25rem;
  padding: 1rem;
}

.project-container p{
  padding: 0.4rem;
}

.project-title{
  margin-bottom: var(--bottom-margin);
}

.project-details{
  margin-bottom: var(--bottom-margin);
}

.project-card{
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.contact{
  margin-top: 2rem;
}

.contact h2{
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container{
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label{
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea{
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder{
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover{
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.socials{
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon{
  width: 4rem;
  height: 4rem;
}

footer{
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

.scroll-up{
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow{
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width: 720px) {
  /*changes are seen on screens with 720px and lower width*/
  nav{
    padding: 1.5rem 1rem;
  }

  nav ul{
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu{
    display: block;
  }

  nav ul.show{
    transform: translateX(0);
  }

  .hero{
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img{
    height: 37.5rem;
    width: 30rem;
  }

  .bio{
    margin-top: -7rem;
    width: 20.5rem;
  }

  .about-me{
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .about-me h2{
    text-align: center;
  }

  .about-me p{
    text-align: justify;
  }

  .icon{
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container{
    flex-direction: column;
  }

  .project-container{
    width: 20.875rem;
  }

  .contact-form-container{
    max-width: 23.75rem;
  }
}